@import 'bootstrap/dist/css/bootstrap-reboot.css';


html {}
body {
	margin: 0;
}

.btn {
	padding: 0.5rem 1rem;
	border: 2px solid #ddd;
	background: #fff;
	cursor: pointer;
	border-radius: 6px;
}
.btn-nowrap {
	white-space: nowrap;
}
.btn:hover {
	border-color: #999;
}
.btn.selected {
	border-color: #0d6efd;
	background: #f0f7ff;
}
